@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  &__text {
    font-size: 36px;
    line-height: 58px;
    color: #436372;
    margin-left: 14px;
    @extend %rubik-500;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__link {
    position: relative;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 6px;
    right: 5px;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
  }
  &__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__link--color-g {
    background-color: #edf1f4;
    margin-right: 20px;
  }
  &__link-img {
    position: absolute;
    top: 17px;
    right: 17px;
  }
  &__link--color-green {
    background-color: #fcd7b6;
  }
  &__link--color-grey {
    background-color: #a3bbc8;
    margin-left: 20px;
  }
  &__link-img--margin {
    margin-right: -2px;
    margin-top: -2px;
  }
}

.top-slider {
  background-image: url("../images/slider/bg-couch.png");
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 40%;
  background-color: #fcd7b6;
  padding-top: 225px;
  padding-bottom: 45px;
  &__title {
    max-width: 420px;
    font-size: 72px;
    line-height: 70px;
    color: $title;
    margin-bottom: 45px;
    @extend %rubik-500;
  }
  &__content {
    padding-left: 300px;
  }
  &__img {
    margin-right: 300px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__text {
    max-width: 370px;
    margin-bottom: 45px;
  }
  &__link {
    position: relative;
    display: inline-block;
    background-color: #a3bbc8;
    @extend %rubik-500;
    line-height: 12px;
    padding: 25px 100px 25px 25px;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/arrow.png");
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      top: 27px;
      right: 17px;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 210px;
    li {
      button {
        font-size: 11px;
        line-height: 9px;
        @extend %rubik-500;
        padding: 0;
        background-color: #fde3cc;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        border: none;
      }
      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

.bottom-slider {
  &__inner {
    display: flex;
    justify-content: space-around;
    padding-top: 47px;
    padding-bottom: 50px;
    background-color: #fef7f0;
  }
  &__inner-item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/24.png");
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      top: 13px;
      left: -70px;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
  }
  &__info-item {
    @extend %dmsans-400;
  }
}

.product {
  padding: 75px 0 185px;
  &__menu {
    margin-bottom: 80px;
  }
  &__menu-list {
    display: flex;
    justify-content: center;
  }
  &__menu-link + .product__menu-link {
    padding-left: 30px;
    color: #436372;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 15px;
  }
}

.product-item {
  max-width: 270px;
  &__img-box {
    position: relative;
    height: 380px;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
  }
  &__img {
    margin: 0 auto;
    margin-top: 50px;
    object-fit: cover;
    height: 160px;
    margin-bottom: 75px;
  }
  &__link-box {
    position: absolute;
    left: 60px;
    top: 150px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(500%);
    transition: all 0.3s;
  }
  &__img--height {
    height: 190px;
    margin-bottom: 50px;
  }
  &__img--size {
    height: 145px;
    margin-bottom: 90px;
  }
  &__link {
    padding-top: 13px;
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
  }
  &__link:hover {
    background-color: #a3bac7;
    path {
      fill: #fff;
    }
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
  &__title {
    color: $title;
  }
  &__price {
    color: #a3bbc8;
  }
}

.product-sub {
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    height: 390px;
    width: 870px;
    background-color: rgb(252, 215, 182);
  }
  &__list-box {
    display: flex;
    justify-content: space-around;
  }
  &__images {
    position: absolute;
    left: 147px;
    top: -90px;
  }
  &__list {
    max-width: 330px;
  }
  &__title {
    color: $title;
    @extend %dmsans-500;
    font-size: 26px;
    line-height: 32px;
    padding-top: 100px;
    margin-bottom: 30px;
  }
  &__text {
    color: $title;
    @extend %rubik-400;
    line-height: 30px;
  }
  &__btn-link {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #436372;
    margin-top: 35px;
    padding: 25px 20px 25px 20px;
    line-height: 12px;
    width: 180px;
    color: #436372;
  }
  &__btn-link::after {
    content: "";
    position: absolute;
    background-image: url(../images/icons/product-sub__arrow.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    top: 27px;
    right: 17px;
  }
}

.design {
  padding: 100px 0 120px;
  &__menu {
    margin-bottom: 80px;
  }
  &__menu-list {
    display: flex;
    justify-content: center;
  }
  &__menu-link + .design__menu-link {
    padding-left: 30px;
  }
  &__menu-item {
    color: #436372;
  }
  &__menu-item:hover {
    color: #000;
  }
  &__items {
    display: grid;
    min-height: 525px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 43px;
    padding-left: 35px;
  }
  &__title {
    width: 163px;
  }
  &__subtitle {
    color: #a3bbc8;
  }
}

.video {
    background-image: url('../images/content-img/video-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
}

@import "media";
