@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__text {
    position: relative;
    font-size: 36px;
    color: #436372;
    margin-left: 62px;
    margin-bottom: 25px;
    width: 170px;
  }
  &__text::before {
    content: "";
    position: absolute;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    top: -8px;
    left: -58px;
    width: 52px;
    height: 40px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__link {
    position: relative;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 6px;
    right: 5px;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
  }
  &__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__link--color-g {
    background-color: #edf1f4;
    margin-right: 20px;
  }
  &__link-img {
    position: absolute;
    top: 17px;
    right: 17px;
  }
  &__link--color-green {
    background-color: #fcd7b6;
  }
  &__link--color-grey {
    background-color: #a3bbc8;
    margin-left: 20px;
  }
  &__link-img--margin {
    margin-right: -2px;
    margin-top: -2px;
  }
}

.top {
  padding: 50px 25px;
  background-color: #edf1f4;
  &__title {
    text-align: center;
    font-size: 36px;
    @extend %rubik-400;
    margin-bottom: 10px;
    color: #191919;
  }
}

.top-slider {
  background-image: url("../images/slider/bg-couch.png");
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 40%;
  background-color: #fcd7b6;
  padding-top: 225px;
  padding-bottom: 45px;
  &__title {
    max-width: 420px;
    font-size: 72px;
    line-height: 70px;
    color: $title;
    margin-bottom: 45px;
    @extend %rubik-500;
  }
  &__content {
    padding-left: 300px;
  }
  &__img {
    margin-right: 300px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__text {
    max-width: 370px;
    margin-bottom: 45px;
  }
  &__link {
    position: relative;
    display: inline-block;
    background-color: #a3bbc8;
    @extend %rubik-500;
    line-height: 12px;
    padding: 25px 100px 25px 25px;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/arrow.png");
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      top: 27px;
      right: 17px;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 210px;
    li {
      button {
        font-size: 11px;
        line-height: 9px;
        @extend %rubik-500;
        padding: 0;
        background-color: #fde3cc;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        border: none;
      }
      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

.bottom-slider {
  &__inner {
    display: flex;
    justify-content: space-around;
    padding-top: 47px;
    padding-bottom: 50px;
    background-color: #fef7f0;
  }
  &__inner-item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/24.png");
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      top: 13px;
      left: -70px;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
  }
  &__info-item {
    @extend %dmsans-400;
  }
}

.product {
  padding-top: 75px;
  &__menu {
    margin-bottom: 80px;
  }
  &__menu-list {
    display: flex;
    justify-content: center;
  }
  &__menu-link + .product__menu-link {
    padding-left: 30px;
    color: #436372;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 15px;
  }
}

.product-item {
  max-width: 270px;
  box-shadow: 0px 47px 47px 3px rgba(37, 37, 37, 0.05);
  background-color: #fff;
  &__img-box {
    position: relative;
    height: 380px;
    text-align: center;
    overflow: hidden;
  }
  &__img {
    object-fit: none;
    margin: 0 auto;
    margin-top: 50px;
    height: 160px;
    margin-bottom: 75px;
  }
  &__link-box {
    position: absolute;
    left: 60px;
    top: 150px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(500%);
    transition: all 0.3s;
  }
  &__img--height {
    height: 190px;
    margin-bottom: 50px;
  }
  &__img--size {
    height: 145px;
    margin-bottom: 90px;
  }
  &__link {
    padding-top: 13px;
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
  }
  &__link:hover {
    background-color: #a3bac7;
    path {
      fill: #fff;
    }
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
  &__title {
    color: $title;
  }
  &__price {
    color: #a3bbc8;
  }
}

.product-sub {
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    height: 390px;
    width: 870px;
    background-color: rgb(252, 215, 182);
  }
  &__list-box {
    display: flex;
    justify-content: space-around;
  }
  &__images {
    position: absolute;
    left: 147px;
    top: -90px;
  }
  &__list {
    max-width: 330px;
  }
  &__title {
    color: $title;
    @extend %dmsans-500;
    font-size: 26px;
    line-height: 32px;
    padding-top: 100px;
    margin-bottom: 30px;
  }
  &__text {
    color: $title;
    @extend %rubik-400;
    line-height: 30px;
  }
  &__btn-link {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #436372;
    margin-top: 35px;
    padding: 25px 20px 25px 20px;
    line-height: 12px;
    width: 180px;
    color: #436372;
  }
  &__btn-link::after {
    content: "";
    position: absolute;
    background-image: url(../images/icons/product-sub__arrow.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    top: 27px;
    right: 17px;
  }
}

.design {
  padding: 100px 0 120px;
  &__menu {
    margin-bottom: 80px;
  }
  &__menu-list {
    display: flex;
    justify-content: center;
  }
  &__menu-link + .design__menu-link {
    padding-left: 30px;
  }
  &__menu-item {
    color: #436372;
  }
  &__menu-item:hover {
    color: #000;
  }
  &__items {
    display: grid;
    min-height: 525px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 43px;
    padding-left: 35px;
  }
  &__title {
    width: 163px;
  }
  &__subtitle {
    color: #a3bbc8;
  }
}

.video {
  background-image: url("../images/content-img/video-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.insight {
  padding: 120px 0 90px;
  background: linear-gradient(180deg, #fff 52%, #fef7f0 50%);
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
  }
  &__item {
    position: relative;
    max-width: 370px;
    background-color: #fff;
  }
  &__title {
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
  }
  &__view-all {
    color: #262626;
  }
  &__btn {
    text-transform: uppercase;
    color: #fff;
    background-color: #a3bbc8;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    padding: 6px 30px;
    position: absolute;
    top: 233px;
    left: 30px;
  }
  &__box {
    padding: 35px 50px 25px 30px;
  }
  &__subtitle {
    color: #262626;
    @extend %dmsans-500;
    padding-bottom: 18px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__info {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin-top: 20px;
  }
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  padding-top: 80px;
}

.footer-top {
  display: flex;
  padding-bottom: 75px;
  border-bottom: 1px solid #dae4e9;
  &__contact {
    width: 200px;
    margin-right: 100px;
  }
  &__nav {
    min-width: 170px;
    margin-right: 130px;
  }
  &__email {
    width: 280px;
  }
  &__title {
    @extend %dmsans-700;
    text-transform: uppercase;
    color: #1f2044;
    margin-bottom: 20px;
  }
  &__item {
    position: relative;
  }
  &__logo {
    font-size: 36px;
    color: #436372;
    margin-left: 62px;
    margin-bottom: 25px;
  }
  &__logo::before {
    content: "";
    position: absolute;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    top: -8px;
    left: 0;
    width: 52px;
    height: 40px;
  }
  &__list-link {
    line-height: 32px;
  }
  &__address {
    line-height: 24px;
    margin-bottom: 10px;
    display: block;
  }
  &__phone,
  &__email {
    display: block;
    line-height: 32px;
  }
  &__text {
    font-size: 14px;
    color: #7b7b7b;
    @extend %rubik-400;
    line-height: 24px;
    margin-bottom: 30px;
  }
  &__form-input {
    border: none;
    max-width: 167px;
    background-color: #fef7f0;
    padding: 12px;
    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #000;
    }
  }
  &__form-btn {
    border: none;
    max-width: 100px;
    padding: 12px 17px;
    @extend %dmsans-400;
    font-size: 14px;
    color: #fff;
    background-color: #a3bbc8;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  &__text {
    color: #7b7b7b;
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
  }
  &__info {
    display: flex;
  }
  &__info-list {
    margin-right: 13px;
  }
  &__info-list + .footer-bottom__info-list {
    padding-left: 13px;
    border-left: 1px solid #7b7b7b;
  }
}

.modal {
  max-width: 470px;
  margin: 0 auto;
  padding-top: 110px;
  &__label {
    display: block;
    margin-bottom: 25px;
    @extend %rubik-400;
    color: #436372;
  }
  &__input {
    width: 100%;
    padding: 0 15px;
    height: 58px;
    border: 2px solid #f6f6f6;
  }
  &__btn {
    display: block;
    width: 100%;
    cursor: pointer;
    height: 58px;
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    margin-bottom: 30px;
  }
  &__labal-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6f6f6;
  }
  &__notregistr {
    display: block;
    text-align: center;
    padding: 25px 20px;
  }
  &__btn-account {
    text-align: center;
    padding: 18px 0;
    border: 2px solid #a3bbc8;
  }
  &__btn-link {
    color: #243f4d;
  }
  &__btn-link--color {
    display: block;
    width: 100%;
    cursor: pointer;
    height: 58px;
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    margin-bottom: 30px;
  }
  &__text {
    @extend %rubik-400;
    color: #436372;
    margin-bottom: 30px;
  }
}

.page-404 {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding-top: 170px;
    margin-right: 80px;
    min-width: 570px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 48px;
    line-height: 26px;
    color: #28384f;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    color: #9c9c9c;
    margin-bottom: 60px;
  }
  &__btn-link {
    padding: 14px 30px;
    background-color: #a3bbc8;
    @extend %dmsans-400;
    color: #fff;
    text-transform: uppercase;
  }
}

.product {
  &__inner {
    display: flex;
  }
  &__filters {
    width: 270px;
    margin-right: 30px;
  }
}

.filter-category {
  margin-bottom: 30px;
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .filter-category__checkbox {
      background-color: #edf1f4;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 14px 23px 14px 14px;
    border-radius: 7px;
    color: #243f4d;
    font-size: 18px;
    @extend %dmsans-700;
  }
  &__images {
    margin-top: 2px;
  }
}

.filter__title {
  color: #243f4d;
  font-size: 18px;
  @extend %dmsans-700;
  text-transform: uppercase;
  margin-bottom: 25px;
  position: relative;
  &::after {
    content: "";
    background-image: url("../images/icons/line.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 3px;
    top: 11px;
    margin-left: 16px;
  }
}

.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  background-color: rgb(163, 187, 200);
  border-radius: 4px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}
.irs--flat .irs-handle {
  top: 0px;
  width: 15px;
  height: 15px;
  background-color: rgb(163, 187, 200);
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 4px;
  background-color: rgb(163, 187, 200);
}

.irs-to,
.irs-from,
.irs-max,
.irs-min {
  display: none;
}

.filter-price {
  &__box {
    display: flex;
  }
  &__from {
    margin-right: 190px;
  }
}

.filter-brand {
  padding: 80px 0 50px;
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .filter-brand__box {
      background-color: #edf1f4;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    padding: 14px 23px 14px 14px;
    border-radius: 7px;
    color: #243f4d;
    font-size: 18px;
    @extend %dmsans-700;
  }
}

.filter__products {
  &__item {
    display: flex;
  }
  &__images--padding {
    padding: 0px 11px;
  }
  &__images--padding__two {
    padding: 0px 16px;
  }
  &__images {
    height: 70px;
    border: 2px solid rgb(242, 242, 242);
    margin-right: 20px;
  }
  &__title {
    color: #333333;
    font-size: 14px;
    @extend %dmsans-400;
    margin-bottom: 11px;
  }
  &__star {
    margin-bottom: 11px;
  }
  &__price {
    font-size: 15px;
    line-height: 27px;
    color: #333333;
  }
}

.jq-ry-container {
  padding: 0;
}

.shop-content {
  min-width: 870px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 30px;
  }
  &__box-btn {
    padding: 105px 0 40px;
    display: flex;
    justify-content: center;
  }
  &__btn {
    margin-left: 15px;
    height: 50px;
    width: 50px;
    border: 1px solid #a3bbc8;
    background-color: #fff;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
  }
  &__btn--next {
    width: 73px;
  }
  &__btn-link {
    color: #243f4d;
  }
  &__btn--active {
    background-color: #a3bbc8;
  }
}

.product-details {
  padding: 120px 0 115px;
  &__inner {
    display: flex;
  }
  &__slider {
    display: flex;
    width: 550px;
    margin-right: 70px;
  }
  &__thumb {
    width: 134px;
    margin-right: 25px;
  }
  &__thumb-item {
    border: 2px solid #f2f2f2;
    margin-bottom: 16px;
    img {
      width: 134px;
      height: 156px;
      object-fit: contain;
    }
  }
  &__big {
    width: 382px;
  }
  &__big-item {
    border: 2px solid #f2f2f2;
    img {
      height: 526px;
      width: 382px;
      object-fit: contain;
    }
  }
}

.product-content {
  &__box {
    margin-bottom: 60px;
  }
  &__title {
    @extend %rubik-400;
    font-size: 40px;
    padding: 20px 0;
    color: #333333;
  }
  &__star {
    margin-bottom: 35px;
  }
  &__price {
    color: #333333;
    display: block;
    @extend %rubik-400;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  &__text {
    color: #333333;
    line-height: 30px;
    margin-bottom: 30px;
    @extend %rubik-400;
  }
  &__btn {
    height: 50px;
    width: 208px;
    background-color: #a3bbc8;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    border: none;
    @extend %rubik-400;
  }
  &__item {
    display: flex;
    @extend %rubik-400;
  }
  &__subtitle {
    @extend %rubik-400;
  }
}

.jq-number__field {
  width: 146px;
  height: 50px;
  border: 1px solid #a3bbc8;
  border-radius: 0px;
  border-color: #a3bbc8;
}

.jq-number__field input {
  text-align: center;
  padding: 12px 9px;
  width: 50px;
  text-align: center;
  margin-left: 50px;
  border-right: 1px solid #a3bbc8;
  border-left: 1px solid #a3bbc8;
  border-top: none;
  border-bottom: none;
}

.jq-number__spin.minus {
  left: 20px;
}

.jq-number__spin.plus {
  right: 17px;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  background-color: black;
  top: 6px;
  width: 13px;
  height: 1px;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0px;
  left: 6px;
  width: 1px;
  height: 13px;
}

.jq-number {
  position: relative;
  margin-right: 12px;
}

.product-tabs {
  padding-top: 100px;
  &__top {
    display: flex;
    justify-content: center;
  }
  &__item {
    margin-left: 30px;
    background-color: #edf1f4;
    border-radius: 4px;
    color: #243f4d;
    padding: 16px 70px;
    margin-bottom: 35px;
  }
  &__content-item {
    display: none;
    &.product-tabs__content-item--active {
      display: block;
    }
  }
  &__item--active {
    background-color: #a3bbc8;
    color: #fff;
  }
}

.related {
  padding-bottom: 115px;
  &__top-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  &__title {
    color: #243f4d;
    font-size: 36px;
    @extend %dmsans-700;
  }
  &__btn-box {
    position: relative;
  }
  &__btn {
    width: 45px;
    height: 45px;
    border: 1px solid #edf1f4;
    background-color: #fff;
    border-radius: 4px;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/arrow-related-left.svg");
      background-repeat: no-repeat;
      width: 30px;
      height: 25px;
      top: 18px;
      right: 53px;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/arrow-related-right.svg");
      background-repeat: no-repeat;
      width: 30px;
      height: 25px;
      top: 18px;
      right: 2px;
    }
  }
  &__btn--active {
    border-color: #a3bbc8;
  }
  &__item-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }
}

.blog-page {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 830px;
  }
  &__item {
    position: relative;
  }
  &__item-box {
    content: "";
    top: 431px;
    left: 0px;
    position: absolute;
    width: 275px;
    height: 70px;
    background-color: #a3bbc8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-list {
    padding-right: 20px;
    margin-left: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
  }
  &__images {
    margin-bottom: 35px;
  }
  &__title {
    margin-bottom: 35px;
    @extend %rubik-400;
    font-size: 36px;
    color: #333333;
  }
  &__text {
    margin-bottom: 35px;
    @extend %rubik-400;
    color: #243f4d;
  }
  &__text--color {
    color: #243f4d;
    margin-bottom: 25px;
    @extend %rubik-500;
  }
  &__btn-link {
    display: inline-block;
    padding: 20px 80px 22px 20px;
    border: 1px solid #a3bbc8;
    color: #a3bbc8;
    position: relative;
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 12px;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/arrow-blog.jpg");
      background-repeat: no-repeat;
      top: 23px;
      right: 15px;
      width: 25px;
      height: 11px;
    }
  }
  &__btn--margin {
    margin: 0;
  }
}

.blog-aside {
  width: 273px;
  &__form-search {
    display: flex;
    margin-bottom: 35px;
  }
  &__search-text {
    width: 220px;
    padding: 10px 15px;
    height: 40px;
    border: 2px solid #eef2f5;
  }
  &__btn {
    background-color: #eef2f5;
    width: 45px;
    height: 40px;
    border: none;
    cursor: pointer;
  }
  &__img {
    margin: 0 auto;
  }
}

.blog-recent {
  &__item {
    width: 290px;
    display: flex;
    margin-bottom: 20px;
  }
  &__img {
    margin-right: 18px;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  &__subtitle {
    font-size: 14px;
    @extend %rubik-400;
  }
  &__text {
    color: #c2c2c2;
    text-transform: uppercase;
    font-size: 12px;
    @extend %rubik-400;
  }
}

.blog-page--padding {
  padding-bottom: 0px;
}
.blog-one {
  &__content {
    width: 830px;
  }
  &__blockquote {
    background-color: #edf1f4;
    padding: 23px 35px 23px;
    border-left: 6px solid #a3bbc8;
    margin-bottom: 35px;
  }
  &__img {
    float: left;
    object-fit: cover;
    margin-right: 25px;
  }
  &__title {
    font-size: 18px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 20px;
    padding-top: 25px;
    @extend %rubik-500;
  }
  &__text {
    margin-bottom: 35px;
    @extend %rubik-400;
    color: #243f4d;
  }
  &__designer {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
  }
  &__img-disigner {
    margin-right: 30px;
  }
  &__subtitle {
    padding: 11px 0;
  }
  &__profession {
    color: #666666;
  }
  &__tags {
    display: inline-block;
    margin-right: 30px;
    padding: 11px 0;
  }
  &__tags--color {
    display: inline-block;
    color: #a1a1a1;
  }
  &__tags-box {
    width: 220px;
  }
  &__designer-box {
    display: flex;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__list-item {
    margin-left: 20px;
  }
}

.comments {
  padding: 55px 0 90px;
  &__title {
    font-size: 24px;
    line-height: 36px;
    @extend %dmsans-700;
    color: #436372;
    margin-bottom: 50px;
  }
  &__img-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__item {
    display: flex;
  }
  &__content--border {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__name {
    color: #436372;
    @extend %dmsans-700;
  }
  &__data {
    color: #a1a1a1;
  }
  &__text {
    margin-bottom: 22px;
    line-height: 30px;
    @extend %rubik-400;
    color: #565872;
  }
  &__link {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/arrow-blog.jpg");
      background-repeat: no-repeat;
      top: 6px;
      right: -29px;
      width: 25px;
      height: 10px;
    }
  }
  &__item--margin-left {
    margin-left: 130px;
  }
}

.comment-leave {
  padding-bottom: 110px;
  &__title {
    font-size: 24px;
    line-height: 36px;
    color: #436372;
    margin-bottom: 40px;
  }
  &__name {
    width: 400px;
    padding: 11px;
    margin-right: 26px;
    border: 1px solid #e5e5e5;
    &::placeholder {
      color: #a1a1a1;
    }
    &:hover {
      border: 1px solid #a3bbc8;
      &::placeholder {
        color: #333333;
      }
    }
  }
  &__email {
    width: 400px;
    padding: 11px;
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
     &::placeholder {
      color: #a1a1a1;
    }
    &:hover {
      border: 1px solid #a3bbc8;
      &::placeholder {
        color: #333333;
      }
    }
  }
  &__textarea {
    width: 830px;
    height: 120px;
    padding: 11px;
    resize: none;
    border: 1px solid #e5e5e5;
    margin-bottom: 35px;
     &::placeholder {
      color: #a1a1a1;
    }
    &:hover {
      border: 1px solid #a3bbc8;
      &::placeholder {
        color: #333333;
      }
    }
  }
  &__btn {
    width: 190px;
    height: 50px;
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    text-transform: uppercase;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 21px;
  } 
}

@import "media";
